extends ../layouts/default
include ../mixins/post
block content
    //div(style="padding-left: 5vw; padding-right: 5vw;").jumbotron
    //	h1 KeystoneJS Demo
    //	.lead This site demonstrates common patterns in <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
    //	a(href='http://github.com/keystonejs/keystone-demo', target='_blank', title='View on GitHub').btn.btn-lg.btn-primary View on GitHub
    //	a(href='http://www.keystonejs.com/docs', target='_blank', title='KeystoneJS Documentation').btn.btn-lg.btn-link Read the Docs

    .main
        #properties_map-2.widget.widget_properties_map
            .map-wrapper
                //#map(style="height: 500px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);")
        .container
            .sidebar-top
                #filter_rent_sale_widget-2.widget.widget_filter_rent_sale_widget
                    .tabs
                        ul.tabs-navigation
                            li.active
                                a(href='#filter_rent_sale_widget-2-rent') Search
                        .tabs-content
                            #filter_rent_sale_widget-2-rent.tab-content.rent-tab.active
                                form(method='get', action='filter/properties')
                                    input(type='hidden', name='filter-contract', value='RENT')
                                    .form-group
                                        select#rent_filter_rent_sale_widget-2_location.form-control(name='filter-location')
                                            option(value='')
                                                | Location
                                    // /.form-group
                                    .form-group
                                        select#rent_filter_rent_sale_widget-2_property_type.form-control(name='filter-property-type')
                                            option(value='')
                                                | Property type

                                    // /.form-group
                                    .form-group
                                        input#rent_filter_rent_sale_widget-2_price_from.form-control(type='text', name='filter-price-from', placeholder='Price from', value='')
                                    // /.form-group
                                    .form-group
                                        input#rent_filter_rent_sale_widget-2_price_to.form-control(type='text', name='filter-price-to', placeholder='Price to', value='')
                                    // /.form-group
                                    .form-group
                                        button.button Filter
                                    // /.form-group
                            #filter_rent_sale_widget-2-sale.tab-content.sale-tab
                                form(method='get', action='http://preview.byaviators.com/theme/realia/properties/')
                                    input(type='hidden', name='filter-contract', value='SALE')
                                    .form-group
                                        select#sale_filter_rent_sale_widget-2_status.form-control(name='filter-status')
                                            option(value='')
                                                | Status
                                            option(value='14') Available
                                            option(value='43') Rent Agreed
                                            option(value='44') Reserved
                                            option(value='45') Sell Agreed
                                    // /.form-group
                                    .form-group
                                        select#sale_filter_rent_sale_widget-2_status.form-control(name='filter-contract')
                                            option(value='') All contracts
                                            option(value='SALE') Sale
                                            option(value='RENT') Rent
                                    // /.form-group
                                    .form-group
                                        input#sale_filter_rent_sale_widget-2_price_from.form-control(type='text', name='filter-price-from', placeholder='Price from', value='')
                                    // /.form-group
                                    .form-group
                                        input#sale_filter_rent_sale_widget-2_price_to.form-control(type='text', name='filter-price-to', placeholder='Price to', value='')
                                    // /.form-group
                                    .form-group
                                        button.button Filter
                                    // /.form-group
            // /.sidebar
            .row
                .content.col-sm-12.col-md-12
                    article#post-268.post-268.page.type-page.status-publish.hentry
                        header.entry-header.page-header
                            h1 Recent Properties
                        // .entry-header
                        .entry-content
                            .row
                                .col-sm-8
                        // .entry-content
                    // #post-##
                    if posts.length
                        if posts.totalPages > 1
                            .lead.text-muted Showing
                                strong #{posts.first}
                                |  to
                                strong #{posts.last}
                                |  of
                                strong #{posts.total}
                                |  posts
                        else
                            .lead.text-muted Showing #{utils.plural(posts.length, '* post')}
                        .blog
                            each post in posts
                                +post(post)
                        if posts.totalPages > 1
                            ul.pagination
                                if posts.previous
                                    li: a(href='?page=' + posts.previous): span.glyphicon.glyphicon-chevron-left
                                else
                                    li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                                each p, i in posts.pages
                                    li(class=posts.currentPage === p ? 'active' : null)
                                        a(href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
                                if posts.next
                                    li: a(href='?page=' + posts.next): span.glyphicon.glyphicon-chevron-right
                                else
                                    li.disabled: a(href='?page=' + posts.totalPages): span.glyphicon.glyphicon-chevron-right
                    else
                        if category
                            .jumbotron.text-center
                                h3(style="margin-bottom:0;margin-top:0;") No posts in the category #{category.name}.
                        else
                            .jumbotron.text-center
                                h3(style="margin-bottom:0;margin-top:0;") There are no posts yet.
                    //#properties_widget-3.widget.widget_properties_widget
                    //    .type-box.item-per-row-3
                    //        .properties-row
                    //            .property-container
                    //                .property-box
                    //                    .property-box-image
                    //                        a.property-box-image-inner(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/')
                    //                            img.attachment-property-box-thumbnail.wp-post-image(width='270', height='226', src='http://preview.byaviators.com/theme/realia/wp-content/uploads/2015/06/5388662544_96ca3f71c1_o-270x226.jpg', alt='interiors')
                    //                            .property-box-image-price
                    //                                | $ 220,000
                    //                            // /.property-box-image-price
                    //                            span.property-badge Featured / Reduced
                    //                            span.property-badge.property-badge-sticky TOP
                    //                    // /.property-image
                    //                    .property-box-content
                    //                        .property-box-title
                    //                            h3
                    //                                a(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/') South Mervin Boulevard
                    //                        // /.property-box-title
                    //                        .property-box-body
                    //                            .property-box-type
                    //                                | Villa
                    //                            // /.property-box-type
                    //                            .property-box-price
                    //                                | $ 220,000
                    //                            // /.property-box-price
                    //                            .property-box-read-more
                    //                                a(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/') Read More
                    //                            // /.property-box-price
                    //                            .property-box-meta
                    //                                span.property-box-meta-item.property-box-meta-item-area
                    //                                    i.pp.pp-normal-cursor-scale-up
                    //                                    |  140 sqft
                    //                                // /.property-box-meta-item
                    //                                span.property-box-meta-item.property-box-meta-item-beds
                    //                                    i.pp.pp-normal-bed
                    //                                    |  3
                    //                                // /.property-box-meta-item
                    //                                span.property-box-meta-item.property-box-meta-item-baths
                    //                                    i.pp.pp-normal-shower
                    //                                    |  4
                    //                                // /.property-box-meta-item
                    //                            // /.property-box-meta
                    //                        // /.property-box-body
                    //                    // /.property-box-content
                    //            // /.property-container
            #aviators_call_to_action-2.widget.widget_aviators_call_to_action
                .fullwidth.background-secondary
                    .row
                        .call-to-action-text.col-sm-12.col-md-9
                            | Powered by real estate
                            b Keystone
                        .col-sm-12.col-md-3
                            a.btn.btn-primary(href='/contact')
                                | Contact
                    // /.row
                // /.fullwidth
        // /.container

    script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnR2bXv74j6x24zMnPoSLrdI2EyTPPt4g", type="text/javascript")
    //script(src='http://maps.googleapis.com/maps/api/js')
    script.
        function initialize() {
            navigator.geolocation.getCurrentPosition(function (position) {
                var mapProp = {
                    center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapProp);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);