extends ../layouts/default
include ../mixins/post

block css

    link(type='text/css', rel='stylesheet', href='http://preview.byaviators.com/drupal/realia/sites/default/themes/realia/css/realia-blue.css')
    style(type="text/css").
        .marker {
            background: url("images/marker-blue.png");
            border:none;
            box-shadow:none;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 42px 57px;
            cursor: pointer;
            height: 57px;
            opacity: .8;
            position: relative;
            width: 42px;
        }

        .marker .marker-inner {
            background-position: 6px 5px;
            background-repeat: no-repeat;
            width: 36px;
            height: 36px;
            position: relative;
        }

        .infoBox .infobox{
            height:auto;
            box-sizing: content-box;
        }

block content
    //div(style="padding-left: 5vw; padding-right: 5vw;").jumbotron
    //	h1 KeystoneJS Demo
    //	.lead This site demonstrates common patterns in <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
    //	a(href='http://github.com/keystonejs/keystone-demo', target='_blank', title='View on GitHub').btn.btn-lg.btn-primary View on GitHub
    //	a(href='http://www.keystonejs.com/docs', target='_blank', title='KeystoneJS Documentation').btn.btn-lg.btn-link Read the Docs

    .main
        //- #properties_map-2.widget.widget_properties_map
        //-     .map-wrapper
        //-         #map(style="height: 500px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);")
        .container
            .sidebar-top
                #filter_rent_sale_widget-2.widget.widget_filter_rent_sale_widget
                    .tabs
                        ul.tabs-navigation
                            li.active
                                a(href='#filter_rent_sale_widget-2-rent') Search
                        .tabs-content
                            #filter_rent_sale_widget-2-rent.tab-content.rent-tab.active
                                form(method='get', action='property')
                                    input(type='hidden', name='filter', value='true')
                                    .form-group
                                        select#rent_filter_rent_sale_widget-2_location.form-control(name='location')
                                            option(value='')
                                                | Location
                                    // /.form-group
                                    //.form-group
                                    //    select#rent_filter_rent_sale_widget-2_property_type.form-control(name='filter-property-type')
                                    //        option(value='')
                                    //            | Property type

                                    // /.form-group
                                    .form-group
                                        input#rent_filter_rent_sale_widget-2_price_from.form-control(type='text', name='filter-price-from', placeholder='Price from')
                                    // /.form-group
                                    .form-group
                                        input#rent_filter_rent_sale_widget-2_price_to.form-control(type='text', name='filter-price-to', placeholder='Price to')
                                    // /.form-group
                                    .form-group
                                        button.button Filter
                                    // /.form-group
                            #filter_rent_sale_widget-2-sale.tab-content.sale-tab
                                form(method='get', action='http://preview.byaviators.com/theme/realia/properties/')
                                    input(type='hidden', name='filter-contract', value='SALE')
                                    .form-group
                                        select#sale_filter_rent_sale_widget-2_status.form-control(name='filter-status')
                                            option(value='')
                                                | Status
                                            option(value='14') Available
                                            option(value='43') Rent Agreed
                                            option(value='44') Reserved
                                            option(value='45') Sell Agreed
                                    // /.form-group
                                    .form-group
                                        select#sale_filter_rent_sale_widget-2_status.form-control(name='filter-contract')
                                            option(value='') All contracts
                                            option(value='SALE') Sale
                                            option(value='RENT') Rent
                                    // /.form-group
                                    .form-group
                                        input#sale_filter_rent_sale_widget-2_price_from.form-control(type='text', name='filter-price-from', placeholder='Price from', value='')
                                    // /.form-group
                                    .form-group
                                        input#sale_filter_rent_sale_widget-2_price_to.form-control(type='text', name='filter-price-to', placeholder='Price to', value='')
                                    // /.form-group
                                    .form-group
                                        button.button Filter
                                    // /.form-group
            // /.sidebar

            // map test header
            #properties_map-2.widget.widget_properties_map
                .map-wrapper
                    #map(style="height: 500px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);")

            .row
                .content.col-sm-12.col-md-12
                    article#post-268.post-268.page.type-page.status-publish.hentry
                        header.entry-header.page-header
                            h1 Recent Properties
                        // .entry-header
                        .entry-content
                            .row
                                .col-sm-8
                        // .entry-content
                    // #post-##
                    if posts.length
                        if posts.totalPages > 1
                            .lead.text-muted Showing
                                strong #{posts.first}
                                |  to
                                strong #{posts.last}
                                |  of
                                strong #{posts.total}
                                |  posts
                        else
                            .lead.text-muted Showing #{utils.plural(posts.length, '* post')}
                        .blog
                            each post in posts
                                +post(post)
                        if posts.totalPages > 1
                            ul.pagination
                                if posts.previous
                                    li: a(href='?page=' + posts.previous): span.glyphicon.glyphicon-chevron-left
                                else
                                    li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                                each p, i in posts.pages
                                    li(class=posts.currentPage === p ? 'active' : null)
                                        a(href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
                                if posts.next
                                    li: a(href='?page=' + posts.next): span.glyphicon.glyphicon-chevron-right
                                else
                                    li.disabled: a(href='?page=' + posts.totalPages): span.glyphicon.glyphicon-chevron-right
                    else
                        if category
                            .jumbotron.text-center
                                h3(style="margin-bottom:0;margin-top:0;") No posts in the category #{category.name}.
                        else
                            .jumbotron.text-center
                                h3(style="margin-bottom:0;margin-top:0;") There are no posts yet.
                    //#properties_widget-3.widget.widget_properties_widget
                    //    .type-box.item-per-row-3
                    //        .properties-row
                    //            .property-container
                    //                .property-box
                    //                    .property-box-image
                    //                        a.property-box-image-inner(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/')
                    //                            img.attachment-property-box-thumbnail.wp-post-image(width='270', height='226', src='http://preview.byaviators.com/theme/realia/wp-content/uploads/2015/06/5388662544_96ca3f71c1_o-270x226.jpg', alt='interiors')
                    //                            .property-box-image-price
                    //                                | $ 220,000
                    //                            // /.property-box-image-price
                    //                            span.property-badge Featured / Reduced
                    //                            span.property-badge.property-badge-sticky TOP
                    //                    // /.property-image
                    //                    .property-box-content
                    //                        .property-box-title
                    //                            h3
                    //                                a(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/') South Mervin Boulevard
                    //                        // /.property-box-title
                    //                        .property-box-body
                    //                            .property-box-type
                    //                                | Villa
                    //                            // /.property-box-type
                    //                            .property-box-price
                    //                                | $ 220,000
                    //                            // /.property-box-price
                    //                            .property-box-read-more
                    //                                a(href='http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/') Read More
                    //                            // /.property-box-price
                    //                            .property-box-meta
                    //                                span.property-box-meta-item.property-box-meta-item-area
                    //                                    i.pp.pp-normal-cursor-scale-up
                    //                                    |  140 sqft
                    //                                // /.property-box-meta-item
                    //                                span.property-box-meta-item.property-box-meta-item-beds
                    //                                    i.pp.pp-normal-bed
                    //                                    |  3
                    //                                // /.property-box-meta-item
                    //                                span.property-box-meta-item.property-box-meta-item-baths
                    //                                    i.pp.pp-normal-shower
                    //                                    |  4
                    //                                // /.property-box-meta-item
                    //                            // /.property-box-meta
                    //                        // /.property-box-body
                    //                    // /.property-box-content
                    //            // /.property-container
            #aviators_call_to_action-2.widget.widget_aviators_call_to_action
                .fullwidth.background-secondary
                    .row
                        .call-to-action-text.col-sm-12.col-md-9
                            | Powered by real estate
                            b Keystone
                        .col-sm-12.col-md-3
                            a.btn.btn-primary(href='/contact')
                                | Contact
                    // /.row
                // /.fullwidth
        // /.container

    //template div
    .template(style="display:none")

        .infobox
            .views-field.views-field-field-image
                .field-content
                    img(src="images/marker-transparent.png" width="100" height="74" alt="")
            .views-field.views-field-title
                span.field-content
                    a(href="#")
            .views-field.views-field-field-location
                .field-content
            .views-field.views-field-field-area
                span.views-label.views-label-field-area Diện tích: 
                .field-content
            .views-field.views-field-field-price
                .field-content
            .views-field.views-field-view-node
                span.field-content
                    a(href="#") Xem

    //script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnR2bXv74j6x24zMnPoSLrdI2EyTPPt4g", type="text/javascript")
    //script(src='http://maps.googleapis.com/maps/api/js')
    script(src="http://preview.byaviators.com/drupal/realia/sites/all/modules/aviators_map/infobox.js?noy3w7")
    script.

        var gmap;
        var posts =!{JSON.stringify(posts)};
        posts=posts.map(function(value){
            var temp= {};
            temp.name = value.name
            temp.lat = value.lat;
            temp.long = value.long;
            temp.id = value.key;
            temp.type = 'family-house';
            temp.area = value.area;
            temp.price = value.price;
            if(value.image.length ==0){
                temp.image = 'http://placehold.it/750x380'
            } else {
                temp.image = value.image[0].url;
            }
            return temp;
        })
        console.log(posts);
        //- function Marker(lat, lng, post){
        //-     this.lat = lat;
        //-     this.lng = lng;
        //-     this.post = post || {//Demo
        //-         id: 1,
        //-         name: 'Chung cư 173 Xuân Thủy',
        //-         type: Math.random() * 2 < 1 ? 'condo' : 'family-house',
        //-         image: 'http://preview.byaviators.com/drupal/realia/sites/default/files/styles/thumbnail/public/14_5.jpg?itok=ZoE8CZZz',
        //-         area: 200,
        //-         price: 1000000
        //-     };
        //- }

        google.maps.event.addDomListener(window, 'load', function(){
            initMap();
            addMarkersToMap(posts);

            //- posts.forEach(function(value){
            //-     addMarkersToMap([new Marker(value.lat, value.long, value)]);
            //- })
        });

        jQuery.getJSON('/gisVN.json', function(data){
            console.log(data);
            for (dataInfo in data){
                jQuery("#rent_filter_rent_sale_widget-2_location").append("<option value='"+data[dataInfo].name.replace("Tỉnh ","").replace("Thành phố ","")+"'>"+data[dataInfo].name+"</option>");
            }
        });

        function initMap(){
            gmap = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 21.0290715, lng: 105.78},
                zoom: 14,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            if (!navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    gmap.setCenter({
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    });
                });
            }
        }

        function addMarkersToMap(posts){

            var markerList = [];

            $.each(posts, function(i, post){

                var position = new google.maps.LatLng(post.lat, post.long);

                // creating Google Maps Marker
                var marker = new google.maps.Marker({
                    position: position,
                    map: gmap,
                    icon: "images/marker-transparent.png"
                });
                markerList.push(marker);

                // infobox
                var box = $('.template .infobox').clone();
                box.children('.views-field-field-image').find('img').attr('src', post.image);
                box.children('.views-field-title').find('a').attr('href', '/property/post/'+post.id).html(post.name);
                if(post.area) box.children('.views-field-field-area').find('.field-content').html(post.area + "m<sup>2</sup>");
                if(post.price) box.children('.views-field-field-price').find('.field-content').html(post.price.toLocaleString() + " đồng");
                box.children('.views-field-view-node').find('a').attr('href', '/property/post/'+post.id);

                // storing content infobox inside google marker
                marker.infobox = new InfoBox({
                    content: box.get(0),
                    disableAutoPan: false,
                    maxWidth: 0,
                    pixelOffset: new google.maps.Size(-145, -200),
                    zIndex: null,
                    boxStyle: {
                        width: "280px"
                    },
                    infoBoxClearance: new google.maps.Size(1, 1),
                    isHidden: false,
                    pane: "floatPane",
                    enableEventPropagation: false
                });
                marker.infobox.isOpen = false;

                // storing infobox marker into Google Marker
                marker.marker = new InfoBox({
                    content: '<div class="marker"><div class="marker-inner" style="background-image: url(\'images/house/'
                        + post.type + '.png\')"></div></div>',
                    pixelOffset: new google.maps.Size(-21, -58),
                    disableAutoPan: true,
                    maxWidth: 0,
                    position: position,
                    closeBoxURL: "",
                    //isHidden: 1,
                    // pane: "mapPane",
                    enableEventPropagation: true
                });
                marker.marker.open(gmap, marker);

                google.maps.event.addListener(marker, "click", function (e) {
                    var curMarker = this;

                    $.each(markerList, function (index, marker) {
                        // if marker is not the clicked marker, close the marker
                        if (marker !== curMarker) {
                            marker.infobox.close();
                            marker.infobox.isOpen = false;
                        }
                    });

                    if (curMarker.infobox.isOpen === false) {
                        curMarker.infobox.open(gmap, this);
                        curMarker.infobox.isOpen = true;
                        gmap.panTo(curMarker.getPosition());
                    } else {
                        curMarker.infobox.close();
                        curMarker.infobox.isOpen = false;
                    }

                });

            });

        }
        