extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			p.lead Hi #{user.name.first}, these are your settings and 
				a(href=user.url) profile details
			//- if nextMeetup
				.alert.alert-info 
					span.entypo.entypo-calendar
					|  The next meetup has been announced - 
					a(href=nextMeetup.url).alert-link= nextMeetup._.startDate.format('dddd D MMM YYYY')
		.page-content.tile.ph-2.pv-2.mb-2
			+flash-messages(messages)
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
				input(type='hidden', name='action', value='profile.details')
				h3 Private Info
				.form-group
					label.col-sm-2.control-label Name
					.col-sm-10: .form-row
						.col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
						.col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
				.form-group
					label.col-sm-2.control-label Email
					.col-sm-10: input(type='email', name='email' value=user.email).form-control
				.form-group
					strong.col-sm-2.control-label Notify me
					.col-sm-10
						.checkbox: label
							input(type='checkbox', name='notifications.meetups' value='true' checked=user.notifications.meetups)
							|  When there is a new meetup
						.checkbox: label
							input(type='checkbox', name='notifications.posts' value='true' checked=user.notifications.posts)
							|  When there is a new post
				hr.mv-2